.buttonPrimary {
  display: inline-block;
}
.buttonPrimary a {
  background-color: transparent;
  border: 3px solid #20c47d;
  color: white;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  padding: 8px 40px;
  display: inline-block;
  transition-duration: 0.2s;
}
.buttonPrimary a:hover {
  background-color: #20c47d;
  transition-duration: 0.2s;
  color: white;
}
.showItem {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
}
.showItem .left {
  width: 20%;
  background-color: #333;
  font-size: 1.4em;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showItem .center {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showItem .venue {
  width: 80%;
  background-color: #222;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 50px;
}
.showItem .right {
  width: 20%;
}

@media only screen and (max-width: 1000px) {
  .showItem {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  .showItem .left,
  .showItem .center,
  .showItem .right {
    width: 100%;
  }
  .showItem .left {
    font-size: 1.2em;
    padding: 15px;
  }
  .showItem .venue {
    width: 100%;
    margin-bottom: 20px;
    font-size: 0.8em;
  }
}
